@model WebMusic.Models.Banda
<div class="form-group">
    <label asp-for="nombre" class="control-label"></label>
    <input asp-for="nombre" class="form-control" />
    <span asp-validation-for="nombre" class="text-danger"></span>

    <label asp-for="origen" class="control-label"></label>
    <input asp-for="origen" class="form-control" />
    <span asp-validation-for="origen" class="text-danger"></span>
</div>