@model WebMusic.Models.Banda
@{
    ViewData["Title"] = "Agregar Banda";
}
<h2>Agregar</h2>
<h4>Banda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBanda">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGenero" />
            <partial name="_Banda" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdGenero" class="btn btn-success">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}