@model WebMusic.Models.Cancion
@{
    ViewData["Title"] = "Editar";
}

<style type="text/css">
    .row{
        justify-content: center;
    }
    label{
        color: red;
    }
    .form-group{
        background-color: rgb(0 0 0 / 55%);
        border-radius: 0.25rem;
        border-bottom-width: 16px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        padding-top: 20px;
    }
    .form-control{
        width: 95%;
    }
</style>

<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCancion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdAlbum" />
            <partial name="_Cancion" />
            <div class="form-group" align="center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>
<div align="right">
    <a asp-action="DetailsAlbum" asp-route-id="@Model.IdAlbum" class="btn btn-success">Volver a la lista</a>
</div>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}