<style type="text/css">
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
    .modal-content{
        background-color: #ff000026;
    }
</style>

<div class="modal fade" id="RepoductorVideo" tabindex="-1" role="dialog" aria-labelledby="TituloVideo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloVideo">Video</h5>
            </div>
            <div class="modal-body">
                <p>
                    <iframe 
                        id="ventanaYoutube"
                        width="100%" height="315" 
                        src="" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</div>